<div class="hbox hbox-auto-xs hbox-auto-sm"
	ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
	<!-- main -->
	<div class="col">
		<!-- main header -->
		<div class="bg-light lter b-b wrapper-md">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h1 class="m-n font-thin h3 text-black">上海耳邦</h1>
					<small class="text-muted">欢迎使用自动化办公系统</small>
				</div>
				<div class="col-sm-6 text-right hidden-xs">
					<div class="inline m-r text-left">
						<div class="m-b-xs">
							3290 <span class="text-muted">产品</span>
						</div>
						<div
							ng-init="data1=[ 106,108,110,105,110,109,105,104,107,109,105,100,105,102,101,99,98 ]"
							ui-jq="sparkline"
							ui-options="{{data1}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
							class="sparkline inline">loading...</div>
					</div>
					<div class="inline text-left">
						<div class="m-b-xs">
							￥300,000,000 <span class="text-muted">总销售额</span>
						</div>
						<div
							ng-init="data2=[ 105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109 ]"
							ui-jq="sparkline"
							ui-options="{{data2}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
							class="sparkline inline">loading...</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / main header -->

		<!-- content -->
		<div class="wrapper-md" ng-controller="FlotChartDemoCtrl">
			<!-- stats -->
			<div class="row">
				<div class="col-md-5">
					<div class="row row-sm text-center">
						<div class="col-xs-6" ui-sref-active="active">					
							<div class="panel padder-v item">
							 <a ui-sref="app.form.product">
								<div class="h1 text-info font-thin h1">521</div>
								<span class="text-muted text-xs">产品</span>
								<div class="top text-right w-full">
									<i class="fa fa-caret-down text-warning m-r-sm"></i>
								</div>
								</a>
							</div>							
						</div>
						<div class="col-xs-6" ui-sref-active="active">
							<a ui-sref="app.form.order"
								class="block panel padder-v bg-primary item"> <span
								class="text-white font-thin h1 block">930</span> <span
								class="text-muted text-xs">订单</span> <span
								class="bottom text-right w-full"> <i
									class="fa fa-cloud-upload text-muted m-r-sm"></i>
							</span>
							</a>
						</div>
						<div class="col-xs-6" ui-sref-active="active">
							<a ui-sref="app.form.customer"
								class="block panel padder-v bg-info item"> <span
								class="text-white font-thin h1 block">432</span> <span
								class="text-muted text-xs">客户</span> <span class="top text-left">
									<i class="fa fa-caret-up text-warning m-l-sm"></i>
							</span>
							</a>
						</div>
						<div class="col-xs-6">
							<a href="#/invoice">
								<div class="panel padder-v item">
									<div class="font-thin h1">129</div>
									<span class="text-muted text-xs">待开票</span>
									<div class="bottom text-left">
										<i class="fa fa-caret-up text-warning m-l-sm"></i>
									</div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 m-b-md">
							<div class="r bg-light dker item hbox no-border">
								<div class="col w-xs v-middle hidden-md">
									<div ng-init="data1=[60,40]" ui-jq="sparkline"
										ui-options="{{data1}}, {type:'pie', height:40, sliceColors:['{{app.color.warning}}','#fff']}"
										class="sparkline inline"></div>
								</div>
								<div class="col dk padder-v r-r">
									<div class="text-primary-dk font-thin h1">
										<span>￥7,112,670</span>
									</div>
									<span class="text-muted text-xs">销售额, 占全年销售目标 ：60% </span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="panel wrapper">
						<label class="i-switch bg-warning pull-right"
							ng-init="showSpline=true"> <input type="checkbox"
							ng-model="showSpline"> <i></i>
						</label>
						<h4 class="font-thin m-t-none m-b text-muted">最新成交数据</h4>
						<div ui-jq="plot" ui-refresh="showSpline"
							ui-options="
              [
                { data: {{d0_1}}, label:'线上', points: { show: true, radius: 1}, splines: { show: showSpline, tension: 0.4, lineWidth: 1, fill: 0.8 } },
                { data: {{d0_2}}, label:'线下', points: { show: true, radius: 1}, splines: { show: showSpline, tension: 0.4, lineWidth: 1, fill: 0.8 } }
              ], 
              {
                colors: ['{{app.color.info}}', '{{app.color.primary}}'],
                series: { shadowSize: 3 },
                xaxis:{ font: { color: '#a1a7ac' } },
                yaxis:{ font: { color: '#a1a7ac' }, max:20 },
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#dce5ec' },
                tooltip: true,
                tooltipOpts: { content: 'Visits of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
              }
            "
							style="height: 246px"></div>
					</div>
				</div>
			</div>
			<!-- / stats -->




			<!-- tasks -->
			<div class="panel wrapper">
				<div class="row">
					<div class="col-md-6 b-r b-light no-border-xs">
						<a href class="text-muted pull-right text-lg"><i
							class="icon-arrow-right"></i></a>
						<h4 class="font-thin m-t-none m-b-md text-muted">我的工作日程</h4>
						<div class=" m-b">
							<div class="m-b">
								<span class="label text-base bg-warning pos-rlt m-r"><i
									class="arrow right arrow-warning"></i> 19:30</span> <a href>发快递</a>
							</div>
							<div class="m-b">
								<span class="label text-base bg-info pos-rlt m-r"><i
									class="arrow right arrow-info"></i> 12:30</span> <a href>去松江</a>
							</div>
							<div class="m-b">
								<span class="label text-base bg-primary pos-rlt m-r"><i
									class="arrow right arrow-primary"></i> 10:30</span> <a href>开会</a>
							</div>
							<div class="m-b">
								<span class="label text-base bg-light pos-rlt m-r"><i
									class="arrow right arrow-light"></i> 07:30</span> <a href>晨练</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row row-sm">
							<div class="col-xs-6 text-center">
								<div ui-jq="easyPieChart"
									ui-options="{
                    percent: 75,
                    lineWidth: 4,
                    trackColor: '{{app.color.light}}',
                    barColor: '{{app.color.primary}}',
                    scaleColor: false,
                    size: 115,
                    rotate: 90,
                    lineCap: 'butt'
                  }"
									class="inline m-t">
									<div>
										<span class="text-primary h4">75%</span>
									</div>
								</div>
								<div class="text-muted font-bold text-xs m-t m-b">已完成</div>
							</div>
							<div class="col-xs-6 text-center">
								<div ui-jq="easyPieChart"
									ui-options="{
                    percent: 50,
                    lineWidth: 4,
                    trackColor: '{{app.color.light}}',
                    barColor: '{{app.color.info}}',
                    scaleColor: false,
                    size: 115,
                    rotate: 180,
                    lineCap: 'butt'
                  }"
									class="inline m-t">
									<div>
										<span class="text-info h4">50%</span>
									</div>
								</div>
								<div class="text-muted font-bold text-xs m-t m-b">已开始</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- / tasks -->


			<!-- service -->
			<div class="panel hbox hbox-auto-xs no-border">
				<div class="col wrapper">
					<i class="fa fa-circle-o text-info m-r-sm pull-right"></i>
					<h4 class="font-thin m-t-none m-b-none text-primary-lt">销售额分布曲线</h4>
					<span class="m-b block text-sm text-muted">本年度 ( 1 小时前更新)</span>
					<div ui-jq="plot"
						ui-options="
            [
              { data: {{d4}}, lines: { show: true, lineWidth: 1, fill:true, fillColor: { colors: [{opacity: 0.2}, {opacity: 0.8}] } } }
            ], 
            {
              colors: ['{{app.color.light}}'],
              series: { shadowSize: 3 },
              xaxis:{ show:false },
              yaxis:{ font: { color: '#a1a7ac' } },
              grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#dce5ec' },
              tooltip: true,
              tooltipOpts: { content: '%s of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
            }
          "
						style="height: 240px"></div>
				</div>
				<!-- Report -->

				<div class="col wrapper-lg w-lg bg-light dk r-r">
					<h4 class="font-thin m-t-none m-b">报表</h4>
					<div class="">
						<div class="">
							<span class="pull-right text-primary">60%</span> <span>线上</span>
						</div>
						<progressbar value="60" class="progress-xs m-t-sm bg-white"
							animate="true" type="primary"></progressbar>
						<div class="">
							<span class="pull-right text-info">35%</span> <span>线下</span>
						</div>
						<progressbar value="35" class="progress-xs m-t-sm bg-white"
							animate="true" type="info"></progressbar>
						<div class="">
							<span class="pull-right text-warning">25%</span> <span>利润</span>
						</div>
						<progressbar value="25" class="progress-xs m-t-sm bg-white"
							animate="true" type="warning"></progressbar>
					</div>
					<p class="text-muted">还没想好....</p>
				</div>

				<!-- /Report  -->



			</div>
			<!-- / service -->



			<!-- sell info per seller -->
			<div class="row">
				<!-- tasks -->
				<div class="col-md-6">
					<div class="panel no-border">
						<div class="panel-heading wrapper b-b b-light">
							<span class="text-xs text-muted pull-right"> <i
								class="fa fa-circle text-primary m-r-xs"></i> 12 <i
								class="fa fa-circle text-info m-r-xs m-l-sm"></i> 30 <i
								class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 98
							</span>
							<h4 class="font-thin m-t-none m-b-none text-muted">产品逾期提醒</h4>
						</div>
						<ul class="list-group list-group-lg m-b-none">
							<li class="list-group-item"><a href class="thumb-sm m-r">
									<img src="resources/img/a1.jpg" class="r r-2x">
							</a> <span class="pull-right label bg-primary inline m-t-sm">乐泰</span>
								<a href>乐泰</a></li>
							<li class="list-group-item"><a href class="thumb-sm m-r">
									<img src="resources/img/a2.jpg" class="r r-2x">
							</a> <span class="pull-right label bg-info inline m-t-sm">3M</span> <a
								href>3M</a></li>
							<li class="list-group-item"><a href class="thumb-sm m-r">
									<img src="resources/img/a3.jpg" class="r r-2x">
							</a> <span class="pull-right label bg-warning inline m-t-sm">卡夫特</span>
								<a href>卡夫特</a></li>
							<li class="list-group-item"><a href class="thumb-sm m-r">
									<img src="resources/img/a4.jpg" class="r r-2x">
							</a> <span class="pull-right label bg-warning inline m-t-sm">18</span>
								<a href>康岭</a></li>
						</ul>
						<div class="panel-footer">
							<span class="pull-right badge badge-bg m-t-xs">32</span>
							<button class="btn btn-primary btn-addon btn-sm">
								<i class="fa fa-plus"></i>查看更多
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel no-border">


						<div class="panel-heading wrapper b-b b-light">
							<a href class="text-muted m-t-sm m-l pull-right"
								ng-click="data=[40, 40, 20]"> <i class="icon-pie-chart"></i>刷新
							</a>
							<h4 class="font-thin m-t-none m-b-none text-muted">销售人员销售额分布</h4>
						</div>



						<!-- 饼图 -->
						<div class="text-center wrapper m-b-sm">
							<div ng-init="data = [55, 30, 15] " ui-refresh="data"
								ui-jq="sparkline"
								ui-options="
              {{data}}, 
              {
                type:'pie', 
                height:126, 
                sliceColors:['{{app.color.primary}}','{{app.color.info}}','{{app.color.warning}}']
              }
              "
								class="sparkline inline"></div>
						</div>


						<!-- 内容 -->

						<ul class="list-group no-radius">
							<li class="list-group-item"><span class="pull-right">45,000</span>
								<span class="label bg-primary">1</span> Moru</li>
							<li class="list-group-item"><span class="pull-right">23,200</span>
								<span class="label bg-info">2</span> Jack</li>
							<li class="list-group-item"><span class="pull-right">21,000</span>
								<span class="label bg-warning">3</span> Sail</li>
						</ul>
					</div>
				</div>

			</div>
			<!-- /sell info per seller -->



			<!-- / tasks -->
		</div>
		<!-- /content -->
	</div>
	<!-- / main -->
	<!-- right col -->
	<div class="col w-md bg-white-only b-l bg-auto no-border-xs">
		<tabset class="nav-tabs-alt" justified="true"> <tab> <tab-heading>
		<i class="glyphicon glyphicon-user text-md text-muted wrapper-sm"></i>
		</tab-heading>
		<div class="wrapper-md">
			<div class="m-b-sm text-md">需拜访的客户</div>
			<ul class="list-group no-bg no-borders pull-in">
				<li class="list-group-item"><a herf
					class="pull-left thumb-sm avatar m-r"> <img
						src="resources/img/a4.jpg" alt="..." class="img-circle"> <i
						class="on b-white bottom"></i>
				</a>
					<div class="clear">
						<div>
							<a href>张经理</a>
						</div>
						<small class="text-muted">Designer, 乐泰</small>
					</div></li>
				<li class="list-group-item"><a herf
					class="pull-left thumb-sm avatar m-r"> <img
						src="resources/img/a5.jpg" alt="..." class="img-circle"> <i
						class="on b-white bottom"></i>
				</a>
					<div class="clear">
						<div>
							<a href>李秘书</a>
						</div>
						<small class="text-muted">Writter, 上海日报</small>
					</div></li>
				<li class="list-group-item"><a herf
					class="pull-left thumb-sm avatar m-r"> <img
						src="resources/img/a6.jpg" alt="..." class="img-circle"> <i
						class="busy b-white bottom"></i>
				</a>
					<div class="clear">
						<div>
							<a href>王小姐</a>
						</div>
						<small class="text-muted">Art director, 东方明珠</small>
					</div></li>
				<li class="list-group-item"><a herf
					class="pull-left thumb-sm avatar m-r"> <img
						src="resources/img/a7.jpg" alt="..." class="img-circle"> <i
						class="away b-white bottom"></i>
				</a>
					<div class="clear">
						<div>
							<a href>陈老板</a>
						</div>
						<small class="text-muted">Musician, 杜邦</small>
					</div></li>
				<li class="list-group-item"><a herf
					class="pull-left thumb-sm avatar m-r"> <img
						src="resources/img/a8.jpg" alt="..." class="img-circle"> <i
						class="away b-white bottom"></i>
				</a>
					<div class="clear">
						<div>
							<a href>小周</a>
						</div>
						<small class="text-muted">Designer</small>
					</div></li>
			</ul>
			<div class="text-center">
				<a href class="btn btn-sm btn-primary padder-md m-b">更多记录</a>
			</div>
		</div>
		</tab> <tab> <tab-heading> <i
			class="glyphicon glyphicon-comment text-md text-muted wrapper-sm"></i>
		</tab-heading>
		<div class="wrapper-md">
			<div class="m-b-sm text-md">聊天</div>
			<ul class="list-group no-borders pull-in auto">
				<li class="list-group-item"><span
					class="pull-left thumb-sm m-r"><img
						src="resources/img/a1.jpg" alt="..." class="img-circle"></span> <a
					href class="text-muted" ui-toggle-class="show"
					target=".app-aside-right"><i
						class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
					<div class="clear">
						<div>
							<a href="">Moru</a>
						</div>
						<small class="text-muted">约两分钟前</small>
					</div></li>
				<li class="list-group-item"><span
					class="pull-left thumb-sm m-r"><img
						src="resources/img/a2.jpg" alt="..." class="img-circle"></span> <a
					href class="text-muted" ui-toggle-class="show"
					target=".app-aside-right"><i
						class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
					<div class="clear">
						<div>
							<a href="">Sail</a>
						</div>
						<small class="text-muted">两小时前</small>
					</div></li>
				<li class="list-group-item"><span
					class="pull-left thumb-sm m-r"><img
						src="resources/img/a3.jpg" alt="..." class="img-circle"></span> <a
					href class="text-muted" ui-toggle-class="show"
					target=".app-aside-right"><i
						class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
					<div class="clear">
						<div>
							<a href="">Jack</a>
						</div>
						<small class="text-muted">3天前</small>
					</div></li>
				<li class="list-group-item"><span
					class="pull-left thumb-sm m-r"><img
						src="resources/img/a4.jpg" alt="..." class="img-circle"></span> <a
					href class="text-muted" ui-toggle-class="show"
					target=".app-aside-right"><i
						class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
					<div class="clear">
						<div>
							<a href="">Lauren Taylor</a>
						</div>
						<small class="text-muted">约两分钟前</small>
					</div></li>
			</ul>
		</div>
		</tab> <tab> <tab-heading> <i
			class="glyphicon glyphicon-transfer text-md text-muted wrapper-sm"></i>
		</tab-heading>
		<div class="wrapper-md">
			<div class="m-b-sm text-md">转账</div>
			<ul
				class="list-group list-group-sm list-group-sp list-group-alt auto m-t">
				<li class="list-group-item"><span class="text-muted">下午三点给
						Jacob 转账</span> <span class="block text-md text-info">RMB
						15,000.00</span></li>
				<li class="list-group-item"><span class="text-muted">下午一点
						Mike给我转账</span> <span class="block text-md text-primary">RMB
						23,000.00</span></li>
				<li class="list-group-item"><span class="text-muted">上午九点Sponsored
						给我转账</span> <span class="block text-md text-warning">RMB 3,000.00</span></li>
				<li class="list-group-item"><span class="text-muted">早上8点给Jack转账
				</span> <span class="block text-md">RMB 11,000.00</span></li>
			</ul>
		</div>
		</tab> </tabset>
		<div class="padder-md">
			<!-- streamline -->
			<div class="m-b text-md">最新动态</div>
			<div class="streamline b-l m-b">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">5 分钟前</div>
						<p>
							<a href class="text-info">Jack</a> 添加一个销售订单
						</p>
					</div>
				</div>
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">11:30</div>
						<p>参加会议</p>
					</div>
				</div>
				<div class="sl-item b-success b-l">
					<div class="m-l">
						<div class="text-muted">10:30</div>
						<p>
							给客户 <a href class="text-info">Jacob</a> 打电话并讨论细节.
						</p>
					</div>
				</div>
				<div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
					给小组成员创建了一个任务</div>
				<div class="sl-item b-primary b-l">
					<div class="m-l">
						<div class="text-muted">星期三, 10月25</div>
						<p>
							完成任务 <a href class="text-info">打羽毛球</a>.
						</p>
					</div>
				</div>
				<div class="sl-item b-warning b-l">
					<div class="m-l">
						<div class="text-muted">星期四, 10月25</div>
						<p>到月亮上旅行</p>
					</div>
				</div>
				<div class="sl-item b-info b-l">
					<div class="m-l">
						<div class="text-muted">星期三, 10月5</div>
						<p>准备演讲材料</p>
					</div>
				</div>
				<div class="sl-item b-l">
					<div class="m-l">
						<div class="text-muted">星期六, 10月11</div>
						<p>
							<a href class="text-info">Sail</a> 分配了一个任务给你 <a href
								class="text-info">设计网站</a>.
						</p>
					</div>
				</div>
				<div class="sl-item b-l">
					<div class="m-l">
						<div class="text-muted">星期四, 10月17</div>
						<p>采购乐泰</p>
					</div>
				</div>
			</div>
			<!-- / streamline -->
		</div>
	</div>
	<!-- / right col -->
</div>