<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">客户管理</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
	
	<!-- table -->
	<div class="panel panel-default">		
		<div class="panel-heading font-bold">客户列表</div>
		<div class="panel-body b-b b-light">
			查找: <input id="filter" type="text"
				class="form-control input-sm w-sm inline m-r" />
				<button class="btn m-b-xs w-xs btn-success">新建客戶</button>
		</div>
		
		<div>
			<table class="table m-b-none" ui-jq="footable" data-filter="#filter"
				data-page-size="5">
				<thead>
					<tr>
						<th data-toggle="true">客户名称</th>
						<th>手机号码</th>
						<th data-hide="phone,tablet">地址</th>
						<th data-hide="phone,tablet" data-name="Date Of Birth">最近消费时间</th>
						<th data-hide="phone">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Isidra</td>
						<td><a href>Boudreaux</a></td>
						<td>Traffic Court Referee</td>
						<td data-value="78025368997">22 Jun 1972</td>
						<td data-value="1"><span class="label bg-success"
							title="Active">Active</span></td>
					</tr>
					<tr>
						<td>Shona</td>
						<td>Woldt</td>
						<td><a href>Airline Transport Pilot</a></td>
						<td data-value="370961043292">3 Oct 1981</td>
						<td data-value="2"><span class="label bg-light"
							title="Disabled">Disabled</span></td>
					</tr>
					<tr>
						<td>Granville</td>
						<td>Leonardo</td>
						<td>Business Services Sales Representative</td>
						<td data-value="-22133780420">19 Apr 1969</td>
						<td data-value="3"><span class="label bg-warning"
							title="Suspended">Suspended</span></td>
					</tr>
					<tr>
						<td>Easer</td>
						<td>Dragoo</td>
						<td>Drywall Stripper</td>
						<td data-value="250833505574">13 Dec 1977</td>
						<td data-value="1"><span class="label bg-success"
							title="Active">Active</span></td>
					</tr>
					<tr>
						<td>Maple</td>
						<td>Halladay</td>
						<td>Aviation Tactical Readiness Officer</td>
						<td data-value="694116650726">30 Dec 1991</td>
						<td data-value="3"><span class="label bg-warning"
							title="Suspended">Suspended</span></td>
					</tr>
					<tr>
						<td>Maxine</td>
						<td><a href>Woldt</a></td>
						<td><a href>Business Services Sales Representative</a></td>
						<td data-value="561440464855">17 Oct 1987</td>
						<td data-value="2"><span class="label bg-light"
							title="Disabled">Disabled</span></td>
					</tr>
					<tr>
						<td>Lorraine</td>
						<td>Mcgaughy</td>
						<td>Hemodialysis Technician</td>
						<td data-value="437400551390">11 Nov 1983</td>
						<td data-value="2"><span class="label bg-light"
							title="Disabled">Disabled</span></td>
					</tr>
					<tr>
						<td>Lizzee</td>
						<td><a href>Goodlow</a></td>
						<td>Technical Services Librarian</td>
						<td data-value="-257733999319">1 Nov 1961</td>
						<td data-value="3"><span class="label bg-warning"
							title="Suspended">Suspended</span></td>
					</tr>
					<tr>
						<td>Judi</td>
						<td>Badgett</td>
						<td>Electrical Lineworker</td>
						<td data-value="362134712000">23 Jun 1981</td>
						<td data-value="1"><span class="label bg-success"
							title="Active">Active</span></td>
					</tr>
					<tr>
						<td>Lauri</td>
						<td>Hyland</td>
						<td>Blackjack Supervisor</td>
						<td data-value="500874333932">15 Nov 1985</td>
						<td data-value="3"><span class="label bg-warning"
							title="Suspended">Suspended</span></td>
					</tr>
				</tbody>
				<tfoot class="hide-if-no-paging">
					<tr>
						<td colspan="5" class="text-center">
							<ul class="pagination"></ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<!-- /table -->
	
	
	<!-- new customer -->
	
	
	<div class="panel panel-default">
		<div class="panel-heading font-bold">新增客户</div>
		<form name="forma" class="form-horizontal form-validation">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-id-1">客户名称</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="input-id-1">
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">手机</label>
					<div class="col-sm-6">
						<input type="text" class="form-control"
							placeholder="(XXX) XXXX XXX" ng-model="g.g"
							ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/" required>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">联系电话</label>
					<div class="col-sm-6">
						<input type="text" class="form-control"
							placeholder="(XXX) XXXX XXX" ng-model="g.g"
							ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/" required>
					</div>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">地址/省市县</label>
					<div class="col-sm-6">
						<div class="col-md-6">
							<select ui-jq="chosen" class="w-md">
								<optgroup label="Alaskan/Hawaiian Time Zone">
									<option value="AK">Alaska</option>
									<option value="HI">Hawaii</option>
								</optgroup>
								<optgroup label="Pacific Time Zone">
									<option value="CA">California</option>
									<option value="NV">Nevada</option>
									<option value="OR">Oregon</option>
									<option value="WA">Washington</option>
								</optgroup>
								<optgroup label="Mountain Time Zone">
									<option value="AZ">Arizona</option>
									<option value="CO">Colorado</option>
									<option value="ID">Idaho</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NM">New Mexico</option>
									<option value="ND">North Dakota</option>
									<option value="UT">Utah</option>
									<option value="WY">Wyoming</option>
								</optgroup>
								<optgroup label="Central Time Zone">
									<option value="AL">Alabama</option>
									<option value="AR">Arkansas</option>
									<option value="IL">Illinois</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="OK">Oklahoma</option>
									<option value="SD">South Dakota</option>
									<option value="TX">Texas</option>
									<option value="TN">Tennessee</option>
									<option value="WI">Wisconsin</option>
								</optgroup>
								<optgroup label="Eastern Time Zone">
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="IN">Indiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="OH">Ohio</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WV">West Virginia</option>
								</optgroup>
							</select>
						</div>

						<div class="col-md-6">
							<select name="account" class="form-control m-b">
								<option>区/县</option>
								<option>option 2</option>
								<option>option 3</option>
								<option>option 4</option>
							</select>

						</div>


					</div>

				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">详细地址</label>
					<div class="col-sm-6">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">微信号</label>
					<div class="col-sm-6">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">旺旺ID</label>
					<div class="col-sm-6">
						<input type="text" class="form-control">
					</div>
				</div>




				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-6">
						<input type="email" class="form-control" placeholder="email"
							ng-model="g.a" required>
					</div>
				</div>



				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">网址</label>
					<div class="col-sm-6">
						<input type="url" class="form-control" placeholder="http://"
							ng-model="g.b" required>
					</div>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">生日</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" placeholder="YYYY-MM-DD"
							ng-model="g.f"
							ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/"
							required>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">客户性质</label>
					<div class="col-sm-10">
						<div class="btn-group m-r" ng-controller="ButtonsDemoCtrl">
							<label class="btn btn-default" ng-model="radioModel"
								btn-radio="'Left'" uncheckable>个人客户</label> <label
								class="btn btn-default" ng-model="radioModel"
								btn-radio="'Middle'" uncheckable>企业客户</label>
						</div>
					</div>
				</div>
			</div>

			<footer class="panel-footer text-center bg-light lter">
				<button type="submit" class="btn btn-default">取消</button>
				<button type="submit" class="btn btn-primary">保存</button>				
			</footer>

		</form>
	</div>
	
	
	
</div>



