
<!--  <div class="modal-body wrapper-lg" ng-controller="FormDemoCtrl">-->

<div class="col-sm-9" ng-controller="CustomerCtrl">
	<form name="formValidate" class="form-horizontal form-validation">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>新增客户</strong>
			</div>
			<div class="panel-body">

				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-id-1">客户名称</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="input-id-1"
							ng-model="customer.name">
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">手机</label>
					<div class="col-sm-9">
						<input type="text" class="form-control"
							placeholder="(XXX) XXXX XXX" ng-model="customer.mobile"
							ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/" required>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">联系电话</label>
					<div class="col-sm-9">
						<input type="text" class="form-control"
							placeholder="(XXX) XXXX XXX" ng-model="customer.phone"
							ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/" required>
					</div>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">城市</label>
					<div class="col-sm-9">
						<select ui-jq="chosen" class="form-control m-t"
							ng-model="customer.city">
							<optgroup label="上海">
								<option value="AK">浦东新区</option>
								<option value="HI">浦西</option>
							</optgroup>
							<optgroup label="重庆">
								<option value="CA">九龙坡</option>
								<option value="NV">渝中区</option>
								<option value="OR">江北</option>
								<option value="WA">Washington</option>
							</optgroup>
							<optgroup label="Mountain Time Zone">
								<option value="AZ">Arizona</option>
								<option value="CO">Colorado</option>
							</optgroup>
						</select>
					</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">区/县</label>
						<div class="col-sm-9">
							<select class="form-control m-t" ng-model="customer.area"
								required>
								<option>区/县</option>
								<option>option 2</option>
								<option>option 3</option>
								<option>option 4</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">详细地址</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="input-id-1"
								ng-model="customer.address">
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">微信号</label>
						<div class="col-sm-9">
							<input type="text" class="form-control"
								ng-model="customer.weixin">
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">旺旺ID</label>
						<div class="col-sm-9">
							<input type="text" class="form-control"
								ng-model="customer.wangwang">
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Email</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" placeholder="email"
								ng-model="customer.email" required>
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">网址</label>
						<div class="col-sm-9">
							<input type="url" class="form-control" placeholder="http://"
								ng-model="customer.url" required>
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">生日</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="YYYY-MM-DD"
								ng-model="customer.birthday"
								ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/"
								required>
						</div>
					</div>

					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label">客户性质</label>
						<div class="col-sm-10">
							<div class="btn-group m-r">
								<label class="btn btn-default" ng-model="customer.type"
									btn-radio="'person'" uncheckable>个人客户</label> <label
									class="btn btn-default" ng-model="customer.type"
									btn-radio="'org'" uncheckable>企业客户</label>
							</div>
						</div>
					</div>
				</div>

				<footer class="panel-footer text-right bg-light lter">
					<button type="reset" class="btn btn-default" ng-click="cancel()">取消</button>
					<button type="submit" class="btn btn-primary">保存</button>
				</footer>
			</div>
	</form>
</div>


<!--  

</div>  -->