<div ng-controller="BandCtrl">
<div class="modal-header">
<div class="row">
    <div class="col-md-5">
    <h3 class="modal-title">新增品牌</h3> 
    </div>
   
   <a href class="pull-right text-muted  text-lg" ng-click="cancel()"><i
							class="icon-close " ></i>关闭</a>							
</div>
</div>

<div class="modal-body" >

	<form name="formValidate" class="form-horizontal form-validation">
	<!--  	<div class="panel panel-default">
			<div class="panel-body">-->
				<div class="form-group">
					<label class="col-sm-3 control-label" for="input-id-1">品牌名称</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="input-id-1"
							ng-model="band.name">
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="input-id-1">英文名称</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="input-id-1"
							ng-model="band.english">
					</div>
				</div>			

				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label">所属厂商</label>
					<div class="col-sm-6">
						<select ui-jq="chosen" class="form-control m-t"
							ng-model="band.producer"  >		
							<option value="">-----请选择-----</option>					
						     <option ng-repeat="item in producerList" value="{{item.id}}">{{item.name}}</option>
													
						</select>
					</div>
					</div>
	</form>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="newBand(band)">保存</button>
</div>
</div>